<%- include("../layout/head") %>

<link rel="stylesheet" href="/css/body.css">
<style>
  .form-group {
    width: 50%;
  }
</style>

<body>
  <div class="aside" style="border: none;">
    <%- include("../layout/aside_admin") %>
  </div>
  <div class="content">
    <%- include("../layout/nav_admin") %>
      <br>
      <form class="form-signin" action="/insertcate" method="POST">
        <h2 style="color: green;">Thêm loại sản phẩm mới</h2>
        <p><a href="/admin/listcate">Trở lại</a></p>
        <div class="form-group">
          <input type="text" name="namecate" placeholder="Loại sản phẩm" />
        </div>

        <button class="btn  btn-warning" type="submit" style="width:15%;">Thêm</button>
      </form>
  </div>
</body>