<%- include("../layout/head") %>

<link rel="stylesheet" href="css/body.css">
<%- include("../layout/nav") %>
<body>
<br>
<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">Nhà Sách Tú Thìn</h2>
                        <p class="aboutus-text">Chúng tôi là một trong những nhà sách lớn của trung tâm thị Trấn huyện Tân Kỳ. Thời gian hoạt động chính thức của nhà sách là từ tháng 10 năm 2012. Hiện nay nhà sách Tú Thìn đang dần khẳng định vị thế của mình và ngày càng nâng cấp, mở rộng.</p>
                        <a class="aboutus-more" href="#">đọc thêm</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Làm việc với trái tim</h4>
                                    <p>Chúng tôi làm việc một cách cẩn thận, chu đáo, đáp ứng như cầu khách hàng, làm thế nào để khách hàng cảm thấy thoải mái nhất.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Dịch vụ đáng tin cậy</h4>
                                    <p>Chúng tôi đã được mọi người tin dùng và ủng hộ và hoạt động với phương châm “uy tín và an toàn”.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("../layout/footer") %> 
</body>


