<style>
   .aside{
     margin-top: 2%;
     margin-left: 1%;
   
   }
  table { 
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: auto;
  }
  th {
    font-size: 25px;
    text-align: center;
  }
  
</style>
<link rel="stylesheet" href="css/body.css">
<table>
  <tr>
    <th>Admin</th>
  </tr>

  <tr>    
    <td>
      <div><p class="btn"><a href="/home">Thông tin</a></p></div> 
    </td>
  </tr>
  
  <tr>
    <td>
      <div><p class="btn"><a href="/admin/listcate">Phân loại sản phẩm</a></p></div>
    </td>
  </tr>

  <tr>
    <td>
      <div><p class="btn"><a href="/admin/list-product">Quản lý sản phẩm</a></p></div>
    </td>
  </tr>

  <tr>
    <td>
      <div><p class="btn"><a href="/view_userNV">Quản lý nhân viên</a></p></div>
    </td>
  </tr>

  <tr>
    <td>
      <div><p class="btn"><a href="/view_user" >Quản lý khách hàng</a></p></div>   
    </td>
  </tr>

  <tr>
    <td>
      <div><p class="btn"><a href="/list_order">Đơn hàng </a></p></div> 
    </td>
  </tr>

</table>
